/*hela sida*/
.main-content {
  display: flex;
  flex-direction: column;
  /* Antalet pixlar 'title-art' och 'footer' tar upp */
  align-items: stretch;
}

/*intro*/
.title-art {
  background-color: #ccc;
  padding: 20px;
  height: 350px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.under-title {}

.title-info {
  padding: 20px;
  margin: 0 15px;
  background-color: #fff;
  border: solid 2px black;
}

/*formen för sök*/
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.searchTerm:focus {
  color: #000000;
}

/*knappen för sök*/
.searchButton {
  border: none;
  background-color: transparent;
  cursor: pointer;

}

/*icon sök*/
.searchButton i {
  font-size: 18px;
  color: #333;
}


.art-container {
  width: 80%;
}

.title-art h3 {
  color: #000000;
  margin: 15px 15px 30px;
}


.map-img {
  max-width: 100%;
  border: solid 1px black;
}

.gallery-item-container {
  background-color: #ccc;
  margin: 10px 0;
  padding: 20px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  padding: 20px;
  background-color: #ffffff;
  border: solid 2px black;
}

.gallery-info h3 {
  color: #000000;
  margin: 0;
}

.gallery-info {
  width: 80%;
}

.art-description {
  padding-bottom: 10px;
}

.art-description p {

  color: #333;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

