.navbar {
  background-color: #000000;
  color: #fff;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}

.navList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;

}

.nav-item p {
  padding: 8px 16px;
}

.nav-item p:hover {
  background-color: #d2d2d2;
  color: black;
}

.btn {
  background-color: #fff;
  color: black;
  font-size: 25px;
  border: none;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.brand-mark {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000000;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: 100;
}

.sub-menu-row {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid#fff;
}

.sub-menu-row ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.sub-menu-row li {
  list-style: none;
  padding: 10px 16px 0;
  font-size: 14px;
}

.user-menu {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-menu .btn {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  margin: 16px;

  border: none;
  text-decoration: none;
}

.user-icon-btn {
  background-color: transparent;
  border: none;
}