.recent-messages-container {
  padding: 1rem;
  background-color: #000000;

}

.recent-messages-container h2 {
  margin-bottom: 1rem;
  font-family: "Bodoni Moda", serif;
  font-weight: 100px;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2px;
}

.recent-message {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 0.5rem;
}

.recent-message-user {
  margin-right: 0.5rem;
  color: #ffffff;
}

.recent-message-text {
  display: inline;
  color: #ffffff;
}

.recent-message-image {
  display: block;
  max-width: 100px;
  margin-top: 0.5rem;
  color: #ffffff;
}

.recent-message-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  color: #ffffff;
}