
.results-container {
  margin-top: 20px;
}

.results-list {
  list-style-type: none;
  padding: 0;
}

.result-item {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.result-item a {
  text-decoration: none;
  color: #000000;

}

.result-item a:hover {
  text-decoration: underline;
}